<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Harsh Realm: {% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/jsgrd.min.css') }}" rel="stylesheet">
{% block style %}{% endblock %}
</head>
<body>
<div class="container">
    {% include 'header.html' %}
    {% block content %}{% endblock %}
    {% include 'footer.html' %}
</div>

<!-- javascript -->
<script src="{{ url_for('static', filename='js/jquery-3.4.1.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/tooltip.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jsgrid.js') }}"></script>
<script src="{{ url_for('static', filename='js/cytoscape.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
{% block scripts %}{% endblock %}
</body>
</html>